
.number-box {
    width: 25px;
    text-align: center;
}

.score-header {
    font-size: 12px;
}

.content {
    margin-top: 10%;
}

.string-field {
    border: 0;
    border-bottom: solid 1px #000;
    outline: none; /* prevents textbox highlight in chrome */
    width: 100px;
    margins: 10px;
}

.centered {
    text-align: center;
}

.score-table {
    border: 2px solid black;
}

.score-table td {
    border: 2px solid black;
}

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}