/* fix empty href for Bootstrap UI */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
    font-family: Arial, Helvetica, sans-serif;
}

.number-box {
    width: 25px;
    text-align: center;
}

.number-box-md {
    width: 35px;
    text-align: center;
}

.borderless {
    border: 0;
    background-color: transparent;
    outline: none;
}

.underline {
    border: 0;
    border-bottom: solid 1px #000;
    background-color : transparent;
    outline: none;
    margin: 5px;
    display: block;
}

.content {
    margin-top: 5%;
}

.string-field-small {
    display: block;
    border: 0;
    border-bottom: solid 1px #000;
    background-color : transparent;
    outline: none; /* prevents textbox highlight in chrome */
    width: 50px;
    text-align: center;
    margin: 5px;
}

.string-field-medium {
    display: block;
    border: 0;
    border-bottom: solid 1px #000;
    background-color : transparent;
    outline: none; /* prevents textbox highlight in chrome */
    width: 150px;
    text-align: center;
    margin: 5px;
}

.string-field-long {
    display: block;
    border: 0;
    border-bottom: solid 1px #000;
    background-color : transparent;
    outline: none; /* prevents textbox highlight in chrome */
    width: 250px;
    text-align: center;
    margin: 5px;
}

.description {
    width: 500px;
    height: 200px;
}

.inline-field {
    display: inline;
}

.class-box {
    margin: 5px;
}

.class-field {
    padding: 3px;
}

.class-divider {
    font-size: 125%;
    height: 80%;
    margin-bottom: 0;
}

.field-box {
    display: inline-block;
}

.field-label {
    width: 100%;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}



.ability-column-header {
    font-size: 1.7vw;
    font-weight: bold;
}

.score-header {
    font-size: 1.7vw;
    font-weight: bold;
}

.ability-scores-table td, th {
    border: 1px solid lightgrey;
    width: 30%;
    text-align: center;
}

.ability-scores-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.score-input {
    width: 100%;
    text-align: center;
}

.table-scroll {
    overflow: auto;
    display: inline;
}

.fixed-element {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    z-index:100;
}

.ability-scores {
    float: left;
}

.ability-scores * {
    text-align: center;
}

.ability-scores > div {
    margin: 1%;
}

.score-box {
    border: solid 1px lightgrey;
}

.total-columns-table {
    width: 27%;
    height: 100%;
    float: left;
}

.total-columns-table > div {
    float: left;
    width: 33.33333333%;
    height: 14.28571%;
}

.user-columns-table {
    width: 36%;
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
}

.user-columns-table > div {
    width: 25%;
    height: 14.28571%;
    display: inline-block;
}

.add-column-area {
    width: 9%;
    height: 100%;
    padding: 1%;
    float: left;
}

.add-column-area > button {
    vertical-align: middle;
}

.temp-columns-table {
    width: 18%;
    float: left;
}

.temp-columns-table > div {
    width: 50%;
    height: 14.28571%;
    float: left;
}